.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: Oregano;
  src: url(../fonts/Oregano/Oregano-Regular.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
  font-family: CodeProBold;
  src: url(../fonts/Code/CODE\ Bold.otf);
}

@font-face {
  font-family: CodeProLight;
  src: url(../fonts/Code/CODE\ Light.otf);
}

@font-face {
  font-family: newspaper;
  src: url(../fonts/newspaper/OldNewspaperTypes.ttf);
}

@font-face {
  font-family: blacktail;
  src: url(../fonts/blackTail/Blacktail\ Regular.ttf);
}
.header h1{
  

  font-family: Montserrat;
  font-style: italic;
  font-weight:bolder;
  font-size: 5em;
}

.header h4 {
  font-size: 1.6em;
  background: rgb(235,235,235);
  background: radial-gradient(circle, rgba(235,235,235,1) 31%, rgba(0,0,0,0) 88%);
  color: #707070;
  font-family: Montserrat;
  font-weight: bold;
}

.navbar {

  display: flex;
  font-weight: 800;
  font-style: italic;
  margin-bottom: 3.5em;
  border-bottom: 3px solid #707070;
  position: fixed;
  top: 0;
  width: 100%;

} 

.navbar link {
  border-radius: 4em;
}

.todayArticles {

}

.todayArticles h2 {
  font-family: blacktail;
  margin-bottom: 1.5em;
  color: #464660;
  font-size: 2.5em;
  border-bottom: 3px solid #464660;
  display: inline-block;
}

.todayArticles h5 {
  font-family: CodeProbold;
  font-size: 1.5em;
}

.todayArticles p {
  font-family: newspaper;
}

.Affaires {
  font-family: Montserrat;
}

.todayArticles div {
  text-align: justify;
  margin-bottom: 3em;
}

.acheter {
  font-size: large;
  font-family: Montserrat;
  background-color: #707070;

}

.acheter .row {
  justify-content: center;

}


